@import url('https://fonts.googleapis.com/css2?family=Allison&family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html
body
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    @apply text-gray-500;
    
}


.nav1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 30;
    width: 100%;
    padding-top: 1.5rem/* 24px */;
    padding-bottom: 1.5rem/* 24px */;
    background-color: #F8F4EB;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 83.333333%;
}

.nav3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 4rem/* 64px */;

}

.nav4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.nav5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem/* 32px */;
    font-size: 0.875rem/* 14px */;
    line-height: 1.25rem/* 20px */;
}

.nav6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem/* 32px */;

}

.hovernavbar {
    color: #FF6B66;
    transition-duration: 500ms;
}

.hovernavbar:hover {
    color: #FFA6A3;
}

.buttonburger {
    border-radius: 9999px;
    background-color: #FFC132;
    padding: 0.5rem/* 8px */;
}

.iconburger {
    height: 1.5rem/* 24px */;
    width: 1.5rem/* 24px */;
    color: white;
}

.actionbutton {
    border-radius: 0.375rem/* 6px */;
    background-color: #FFC132;
    padding-left: 2.5rem/* 40px */;
    padding-right: 2.5rem/* 40px */;
    padding-top: 0.5rem/* 8px */;
    padding-bottom: 0.5rem/* 8px */;
}

.actionbutton:hover {
    background-color: #FFC132;
    color: white;
}

.logonav {
    height: 6rem;
}


.mobilemenucadre {
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 40;
    height: 100%;
    width: 300px;
    background-color: #FFE1E0;
    --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.closediv {
    display: flex;
    justify-content: flex-end;
    padding: 3rem;
}

.closeicon {
    height: 1.5rem;
    width: 1.5rem;
    color:#5E0000;
}

.mobilemenulinks {
    margin-left: 33%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

.bouttonaccueil {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.accueil {
    background-color:#F8F4EB;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

@media (min-width: 1060px) {
    .accueil {
        height: 100%;
        padding-bottom: 0px;
    }
}

.accueil2 {
    margin-left: 8rem;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1060px) {
    .accueil2 {
        display: flex;
        height: 83.333333%;
    }}

.boxtext {
    
    z-index: 10;
    margin-top: 8rem;
}

@media (min-width: 1060px) {
    .boxtext {
        flex-basis: 60%;
    }
}

@media (min-width: 1060px) {
    .boxtext2 {
        margin-top: -5rem;
    }
}

.accueilimg {
    height: 37rem;
    
}

.boutonsaccueil {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (min-width: 1060px) {
    .boutonsaccueil {
        justify-content: flex-start;
    }
}

.texteaccueil {
        margin-top: 2rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
}

.divaccueilimg {
        display: flex;
        flex-basis: 60%;
        justify-content: center;
        z-index: 10;
}

@media (min-width: 1060px) {
    .divaccueilimg {
        margin-left: 10rem;
        margin-top: 4rem;
        justify-items: end;
    }
}